.login-page {
  display: flex;
  height: 750px;
}

.login-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.login-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #2068ee;
}