.editor-component {
  margin: 0;
  padding-top: 2vh;
  /*display: flex; 
    justify-content: center; 
    align-items: center;*/
  width: 95%;
  height: 90%;
  position: relative;
  /* border: 5px solid green; */
}
body,
html,
.container {
  height: 100%;
}
.top {
  position: relative;
  height: 8vh;
  margin-bottom: 2vh;
  /* border: 5px solid green; */
}
.bottom {
  height: 80vh;
  /* border: 5px solid gold; */
}
.chat {
  max-width: 29vw;
  height: 55%;
  margin-left: 10px;
  /* border: 5px solid red; */
}

.question {
  height: 40%;
  width: 29vw;
  margin-left: 10px;
  margin-bottom: 2vh;
  border: 1px solid silver;
}
.split {
  height: 80%;
  width: 100%;
  position: fixed;
  /* z-index: 1; */
  /* top: 0; */
  overflow-x: hidden;
  padding: 5px;
  /* border: 5px solid red; */
}

.left {
  left: 0;
  width: 30vw;
  /* height: 95vh; */
  /* border: 5px solid red; */
}

.right {
  width: 65vw;
  /* height: 95vh; */
  /* border: 5px solid blue; */
  right: 0;
}

.finish {
  position: absolute;
  margin-right: 30px;
  bottom: 0;
  right: 0;
  padding: 0%;
  /* border: 5px solid gold; */
}

.next {
  position: absolute;
  margin-right: 30px;
  bottom: 0;
  right: 20;
  padding: 0%;
  /* border: 5px solid gold; */
}
