.editor-component {
  margin: 0;
  /*display: flex; 
    justify-content: center; 
    align-items: center;*/
  width: 95%;
  height: 90%;
  position: relative;
  /* border: 5px solid green; */
}

.chat {
  max-width: 30vw;
  margin-right: 5%;
}

.question {
  float: left;
  height: 65%;
  width: 30vw;
  margin-left: 15px;
  margin-bottom: 20px;
  /* border: 5px solid red; */
}
.split {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding: 5px;
}

.left {
  left: 0;
  width: 30vw;
  height: 95vh;
  /* border: 5px solid red; */
}

.right {
  width: 65vw;
  height: 95vh;
  /* border: 5px solid blue; */
  right: 0;
}

.finish {
  position: absolute;
  margin-right: 30px;
  bottom: 0;
  right: 0;
  /* border: 5px solid gold; */
}
